.tituloPrincipal {text-align: center; color:red
}
.titulo2 {text-align: center; color:purple}
.links {text-align: center; line-height: 100%}
.titulo3 {text-align: center; font-size: 24px; color:purple}
.recuadroVerde {text-align: center; border: 3px solid green;}
.RecuadroAzul {text-align: center; border: 3px solid blue;}